body{
    margin: 0;
    padding:0;
}

#backpic{
    background-size: 100%;
    
    background-image: url(../image/fon.jpg);
}

#main{
    margin-left: 13.5%;
    width: 75%;
    height:400px;
    text-decoration-color: white;
  
}

#name{
    color: rgb(238, 168, 232);
    font-size: 90pt;
    width: 100px;
    height: 60px;
    margin-left: 15%;
    margin-top: 5px;


}

#mohitofoto{
    width: 0px;
margin-left: 0px;
margin-top: 0px;

}
    

#mohitofoto1{
    width: 770px;
  height: 490px;
    margin-left: 120px;
    }

   
   
#sostav {
    color: rgb(238, 223, 137);
    font-size: 27pt;
    width: 370px;
    height: 5px;
    margin-left: 59%;
    margin-top: 140px;

}
#title1{
    color: rgb(233, 121, 57);
    font-size: 70pt;
    margin-left: 27%;  
    margin-top: 240px;
  
}

#text1{
    color: rgb(238, 223, 137);
    font-size: 26pt;
    margin-top: 40px;
    margin-left: 28px;
}


#title2{
    color: rgb(233, 121, 57);
    font-size: 70pt;
    margin-left: 22%;  
    margin-top: 110px;
}

#text2{
    color: rgb(238, 223, 137);
    font-size: 26pt;
    margin-top: 40px;
    margin-left: 28px;  
}

#foto1{
    margin-left:29%;
   
    width:40%;
    margin-top:23px;
}

#title3{
    color: rgb(233, 121, 57);
    font-size: 70pt;
    margin-left: 24%;  
    margin-top: 110px;
}

#text3{
    color: rgb(238, 223, 137);
    font-size: 26pt;
    margin-top: 70px;
    margin-left: 6%;  
    margin-right: 49%;
  
}


#foto2{
    width: 670px;
    margin-left: 88%;
   margin-top: 30px;
}

#header{
    background-size: 100%;
    background-repeat: no-repeat ;
    height: 125px;
    background-image: url(../image/header22.jpg);
}

#menu{
    display:flex;
    flex-direction: row;
}


#tr1{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-top: 43px;
    margin-left:120px; 
    
  
}

#tr2{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
   
    margin-left:140px; 

}

#tr3{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-left:140px; 
   
}


#tr4{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    
    margin-left:140px; 
}


#footer{
    background-size: 100%;
    background-repeat: no-repeat ;
    height: 145px;
    background-image: url(../image/header22.jpg);
}

#menu2{
    display:flex;
    flex-direction: row;
}

#tr11{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-top: 40px;
    margin-left:0px; 
    
  
}

#tr22{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-top: 40px;
    margin-left:0px; 

}

#tr33{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-top: 40px;
    margin-left:0px; 
   
}

#tr44{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    margin-top: 40px;
    margin-left:0px; 
}