#backpic{
   
    background-image: url(../image/fon.jpg);
}

#main{
    margin-left: 200px;
    margin-right: 200px;
    margin-top:150px;
    width: 75%;
    height: 2000px;
  
}

#header{
    
    height: 125px;
    background-image: url(../image/header22.jpg);
}
#footer{
    
    height: 115px;
    background-image: url(../image/header22.jpg);
}

