#backpic{
    background-size: 100%;
    
    background-image: url(../image/fon.jpg);
}

#main{
    margin-left: 13.5%;
    margin-top:100px;
    width: 75%;
    height: 2000px;
    text-decoration-color: white;
  
}

#header{
    background-size: 100%;
    background-repeat: no-repeat ;
    height: 125px;
    background-image: url(../image/header22.jpg);
}
#tr1{
    font-size: 34pt;
    color:rgb(48, 1, 255);  
  
}

#tr2{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
   

}

#tr3{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
    
   
}

#tr4{
    font-size: 34pt;
    color:rgb(48, 1, 255); 
  
}

#footer{
    background-size: 100%;
    background-repeat: no-repeat ;
    height: 115px;
    background-image: url(../image/header22.jpg);
}
